POSTGRES_DB=rides
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# API variables
DB_SOURCE=postgresql://postgres:postgres@localhost:5432/rides?sslmode=disable
SERVER_ADDRESS=0.0.0.0:8080
STRIPE_KEY=sk_test_123